.hn-header-title {
    color: white;
    text-align: center;
}

.pr-image {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.pr-image h2{
    color: white;
}

.pr-image button {
    width: 50px;
    height: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}